.article-main {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.sidebar {
    flex-basis: 200px;
    height: 100%;
    display: flex;
    margin-top: -250px;
    margin-left: 370px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 60vw;
    max-width: 1200px;
    min-height: 100vh;
}

.article-list {
    height: 100%;
    max-width: 780px;
    flex-basis: calc(100% - 200px);
    padding-left: 50px;
    padding-top: 40px;
}

.sidebar a {
    display: block;
    flex-direction: column;
    width: 400px;
    color: #ff89a6;
}

.article {
    flex-direction: row;
    display: flex;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f0f0f0;
}

.article .info {
    flex-basis: 500px;
    height: 100px;
}

.info .title {
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5;
    margin: -7px 0 20px;
    font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.info .content_wrapper {
    width: 800px;
}

.info .content {
    font-size: 20px;
    overflow: hidden;
    color: #999;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article .img_wrapper {
    flex-basis: calc(100% - 500px);
}

.img_wrapper img {
    height: 100px;
    width: 125px;
}

.sidebar span {
    bottom: 14px;
    position: relative;
}

.sidebar .last-span {
    top: 14px;
    position: relative;
}

.button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #ff89a6;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.button_last {
    height: 50px;
    border: 2px solid #999999 !important;
    color: #999999 !important;
}

.button:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #ff89a6;
}

.button:hover {
    cursor: pointer;
    border-radius: 30px;
}

.button:hover:after {
    left: 0;
    width: 0;
}